################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/deploy
/bin
/obj
/packages