<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="OTP.DataExporter" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Formatted EventLog TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="OTPConnectionStringPROD" connectionString="Data Source=vps.coreinsightgroup.com;Initial Catalog=otpdb;User ID=otpwebuser;Password=@sbT3cho1;Pooling=False;" providerName="" />
    <add name="OTPConnectionString" connectionString="Data Source=vps.coreinsightgroup.com;Initial Catalog=otpdb_test;User ID=otpwebuser;Password=@sbT3cho1;Pooling=False;" providerName="" />
  </connectionStrings>
  <appSettings>
    <add key="interval" value="30" />
    <add key="runInitialProcess" value="0" />
    <add key="testing" value="1" />
    <add key="daysToProcess" value="1" />
    <add key="processAccounts" value="1" />
    <add key="processAttachments" value="0" />
    <add key="processCampaigns" value="1" />
    <add key="processContacts" value="1" />
    <add key="processLeads" value="1" />
    <add key="processNotes" value="1" />
    <add key="processOpportunities" value="1" />
    <add key="processPartners" value="1" />
    <add key="processPeriods" value="1" />
    <add key="processTasks" value="1" />
    <add key="continueProcessing" value="1" />
    <add key="logLevel" value="5" />
    <add key="client_id" value="3MVG9iTxZANhwHQtd0X2JjFJ8egJMTRGRgYg4zp.v7J31D0oQSLYuvBYXGeN4bALzY2vwOVG8mceUsEESZtep" />
    <add key="client_secret" value="3867785473303240679" />
    <add key="username" value="bob.drozdowski@gmail.com" />
    <add key="password" value="Ontap123KyN5fF2n1YYDRWtjueyGVvp86" />
    <add key="SMTPClient" value="smtp.mandrillapp.com" />
    <add key="SMTPUsername" value="scott@coreinsightgroup.com" />
    <add key="SMTPPassword" value="y07BN6AYtHS5CVbspv9ptw" />
    <add key="SMTPPort" value="587" />
  </appSettings>  
</configuration>
